<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Backup" connectionString="server=remotemysql.com;port=3306;database=bXC9Wk5HsQ;uid=bXC9Wk5HsQ;pwd=htqWgnLSxI;" />
    <add name="Default" connectionString="server=remotemysql.com;port=3306;database=VK6Rpu7gO9;uid=VK6Rpu7gO9;pwd=LfMK6lUHgf;" />
    <add name="Local" connectionString="server=localhost;database=osales;uid=root;pwd=2wsx#EDC;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>